/* Switches */

// these are equal to the size of the SVG assets
$switch_height: 22px;
$switch_width: 46px;

.toggle-switch {
  color: $fg_color;
  height: $switch_height;
  width: $switch_width;
  background-size: contain;
  background-image: url("./toggle-off.svg");

  &:checked {
    background-image: url("./toggle-on.svg");
  }
}
