// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant == 'light', rgba(252, 252, 252, 0.86), rgba(12, 16, 22, 0.92));
$bg_color: if($variant == 'light', rgba(255, 255, 255, 0.999), rgba(12, 16, 22, 0.94));
$fg_color: if($variant == 'light', rgb(50,60,70), rgb(240, 240, 240)); 

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', rgb(0, 126, 255), rgb(0, 126, 255)); //#007eff
$selected_borders_color: if($variant=='light', darken($selected_bg_color, 30%),
                                               darken($selected_bg_color, 20%));
$borders_color: if($variant == 'light', rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
$borders_edge: if($variant == 'light', rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
$link_color: if($variant == 'light', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color,20%),
                                     lighten($selected_bg_color,10%));
$top_hilight: $borders_edge;

$warning_color: #f57900;
$error_color: #FF2A48;
$success_color: if($variant =='light', #73d216, darken(#73d216,10%));
$destructive_color: if($variant =='light', #ef2929, darken(#ef2929,10%));

$osd_fg_color: $fg_color;
$osd_bg_color: if($variant == 'light', rgba(255, 255, 255, 0.66), rgba(12, 16, 22, 0.66));
$osd_borders_color: if($variant == 'light', rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
$osd_outer_borders_color: transparentize(white, 0.9);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);

